body {
    font-family: 'montserratregular';
    counter-reset: Serial;
    text-align: center;
    /* Set the Serial counter to 0 */
}

/* @font-face {
    font-family: 'Montserrat';
    src: url("/fonts/montserrat-regular-webfont.woff");
} */
@font-face {
    font-family: 'montserratregular';
    src: url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.heading {
    font-size: 40px;
    font-weight: 100;
    color: #6F6A64;
    display: flex;
    padding-bottom: 30px;
    padding-top: 30px;
    justify-content: center;
}

.search-items {
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 100px;
}

.flexbox {
    display: flex;
    min-width: 0;
    max-width: 100%;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
}
.flex-column{
    flex-direction: column;
}
input[type="text"] {
    width: 600px;
    height: 40px;
    padding-left: 10px;
    border-radius: 3px;
}

.btn {
    border: 0;
    padding: 10px;
    font-size: large;
    color: #fff;
    background-color: #337AB7;
    cursor: pointer;
}

.btn-back {
    margin-left: 600px;
}

.dropdown {
    display: flex;
    justify-content: center;
}


.list {
    /* Remove default list styling */
    list-style-type: none;
    padding-right: 40px;
    margin: 0;
    width: 610px;
}

.list li a {
    border: 1px solid #ddd;
    /* Add a border to all links */
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #f6f6f6;
    /* Grey background color */
    padding: 12px;
    /* Add some padding */
    text-decoration: none;
    /* Remove default text underline */
    font-size: 18px;
    /* Increase the font-size */
    color: black;
    /* Add a black text color */
    display: block;
    /* Make it into a block element to fill the whole list */
    cursor: pointer;
}

.list li a:hover:not(.header) {
    background-color: #eee;
    /* Add a hover effect to all links, except for headers */
}

.book-items {
    flex-direction: column;
    align-content: center;
}

.book-items img {
    height: 200px;
    width: 200px;
}

.book-items div {
    display: flex;
    margin-bottom: 15px;
    width: 700px;
}

.book-summary {
    flex-direction: column;
    align-items: flex-start;
}

.book-sub-heading {
    font-size: large;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 10px;
}

.book-summary p {
    margin-left: 20px;
}

.arrow {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.reverse {
    transform: scaleX(-1);
}

.position-right {
    position: relative;
    right: 25px;
    top: 80px;
}

.position-left {
    position: relative;
    left: 20px;
    top: 80px;
}

.book-name {
    font-size: large;
}

.result-count {
    margin: 10px;
}